<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartographie Interne</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/ol/v7.3.0/dist/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol/v7.3.0/ol.css">
</head>
<body>
    <div id="map" class="map"></div>
    <script type="text/javascript">
        // Initialisation de la carte
        const map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }),
                new ol.layer.Image({
                    source: new ol.source.ImageWMS({
                        url: 'http://localhost:8080/geoserver/wms',
                        params: {
                            'LAYERS': 'vm_iris_indicateur',
                            'FORMAT': 'image/png'
                        },
                        serverType: 'geoserver'
                    })
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([2.3522, 48.8566]), // Centré sur Paris
                zoom: 12
            })
        });
    </script>
</body>
</html>