<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Présentation de Losse en Gelaisse</title>
    <!-- Inclusion de la feuille de styles personnalisée -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="index-page">
    <h1 class="titre">Bienvenue à l'Agglomération de Losse en Gelaisse</h1>
    <div class="bandeau">
        <div class="rubrique">Accueil</div>
        <div class="rubrique">Actualités</div>
        <div class="rubrique">Services</div>
        <div class="rubrique"><a href="logging.html">Accessibilité</a></div>
    </div>
    <!-- Référence à l'image via url_for pour être compatible avec Flask -->
    <img src="{{ url_for('static', filename='image/presentation_leg.jpeg') }}" alt="Présentation de Losse en Gelaisse" class="image-presentation">
    
    <!-- Inclusion du script JavaScript personnalisé -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
