<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création d'un nouveau compte</title>
    <!-- Inclusion de la feuille de styles globale -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="logging-new-page">
    <div class="form-container">
        <h1>Création d'un nouveau compte</h1>
        <!-- Ajout d'un id sur le formulaire pour pouvoir y attacher un écouteur dans le JS -->
        <form action="/create_user" method="POST" id="register-form">
            <input type="text" id="email" name="email" placeholder="Indiquer votre identifiant (adresse mail)" required>
            <input type="password" id="pwd" name="password" placeholder="Indiquer votre mot de passe" required>
            <input type="password" id="pwdConfirm" name="password_confirm" placeholder="Répéter votre mot de passe" required>
            <button type="submit" id="register-button">Envoyer</button>
        </form>
    </div>
    <!-- Inclusion du script JavaScript global -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
