<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification de votre mot de passe</title>
    <!-- Inclusion de la feuille de styles globale -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="logging-modif-pwd-page">
    <div class="form-container">
        <h1>Modification de votre mot de passe</h1>
        <form action="/modif_pwd" method="POST">
            <input type="text" name="email" placeholder="Indiquer votre identifiant" required>
            <input type="password" name="old_password" placeholder="Indiquer votre ancien mot de passe" required>
            <input type="password" name="new_password" placeholder="Indiquer votre nouveau mot de passe" required>
            <input type="password" name="new_password_confirm" placeholder="Répéter votre nouveau mot de passe" required>
            <button type="submit">Envoyer</button>
        </form>
    </div>
    <!-- Inclusion du script JavaScript global -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
