<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification Accessibilité Losse en Gelaisse</title>
    <!-- Inclusion de la feuille de styles global -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="logging-page">
    <div class="form-container">
        <h1>Authentification Accessibilité Losse en Gelaisse</h1>
        <form action="/login" method="POST">
            <input type="text" name="email" placeholder="Indiquer votre identifiant (adresse mail)" required>
            <input type="password" name="password" placeholder="Indiquer votre mot de passe" required>
            <button type="submit" id="login-button">Envoyer</button>
        </form>
        <div class="new-user">
            Nouvel utilisateur : <a href="logging_new.html">Créer un nouveau compte</a>
        </div>
    </div>

    <!-- Inclusion du script JavaScript global -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
